<%= render "shared/header"%>
<main class="l-container clearfix">
  <div class="l-content">
    <section class="l-chapter-container">
      <% if @credit %>
        <h2 class="l-chapter-head">支払い方法</h2>
        <div class="notification notification-success">
          追加しました。
          <i class="icon-close"></i>
        </div>
        <div class="l-single-inner">
          <section>
            <div class="l-single-content">
              <h3 class="l-chapter-sub-head">クレジットカード一覧</h3>
            </div>
            <ul class="settings-payment-list">
              <li>
                <!-- <form class="l-single-content" action="https://www.mercari.com/jp/mypage/card/delete/" method="POST"> -->
                <div class="l-single-content">
                  <figure>
                    <img src="//www-mercari-jp.akamaized.net/assets/img/card/visa.svg?255148577" width="49" height="15" alt="visa">
                  </figure>
                  <!-- <input type="hidden" name="__csrf_value" value="93de52ee26bfd5824d9711425b5e66252f2408ef77cfb172a63569f01112ac3b4b530e75477b2e20bbdb29bd71422a989ba9d42fd2a89c9ca6311a6803f82a665"> -->
                  <!-- <input type="hidden" name="card_sequence_no" value="3"> -->
                  <!-- <div class="settings-payment-num">************4485</div> -->
                  <div class="settings-payment-num"><%= @credit.num %></div>
                  <!-- <div class="settings-payment-num">07 / 21 </div> -->
                  <div class="settings-payment-num"><%= @credit.expire_month %> / <%= @credit.expire_year %></div>
                  <!-- <input type="hidden" name="method" value="card"> -->
  <!--                 <button type="submit" class="settings-payment-remove">
                    削除する
                  </button> -->
                  <button class="settings-payment-remove">
                    <%= link_to '削除する', "/credits/#{@credit.id}", method: :delete %>
                  </button>
                <!-- </form> -->
                </div>
              </li>
            </ul>
          </section>
          <div class="settings-not-regist">
            <a href="/jp/help_center/category/6/" target="_blank"><span>支払い方法について</span><i class="icon-arrow-right"></i></a>
          </div>
        </div>
      <% else %>
        <h2 class="l-chapter-head">支払い方法</h2>
        <div class="l-single-inner">
          <section>
            <div class="l-single-content">
              <h3 class="l-chapter-sub-head">クレジットカード一覧</h3>
            </div>
            <ul class="settings-payment-list">
            </ul>
          </section>
          <section class="settings-add-card">
            <div class="l-single-content">
              <!-- <a href="https://www.mercari.com/jp/mypage/card/create/" class="btn-default btn-red submit_button "> -->
              <%= link_to new_credit_path, class: "btn-default btn-red submit_button" do %>
                <i class="icon-card"></i>クレジットカードを追加する
              <!-- </a> -->
              <% end %>
            </div>
          </section>
          <div class="settings-not-regist">
            <a href="/jp/help_center/category/6/" target="_blank">
              <span>支払い方法について</span>
              <i class="icon-arrow-right"></i>
            </a>
          </div>
        </div>
      <% end %>
    </section>
  </div>
  <%= render "shared/sidebar" %>
</main>

<%= render "shared/seller-button" %>
<%= render "shared/footer" %>


link_to '削除', "/prototypes/#{@prototype.id}", method: :delete, class: 'btn-default btn'
