<div class="single-container">
  <%= render "shared/single-header" %>

  <main class="single-main">
    <section class="l-single-container buy-item-container">
      <div id="sell-container">
        <div data-reactroot="">
          <div class="sell-container-inner">
            <h2 class="l-single-head">商品の情報を入力</h2>
            <%= form_for @item, url: new_item_path do |f| %>
            <%= f.hidden_field :seller_id, value: current_user.id %>
              <div class="sell-upload-box">
                <h3 class="sell-upload-head"> 出品画像 <span class="form-require">必須</span></h3>
                <p>最大4枚までアップロードできます</p>
                <div class="sell-dropbox-container clearfix">
                  <div class="sell-upload-items">
                    <ul></ul>
                  </div>
                  <div class="sell-upload-drop-box">
                    <%= f.fields_for :images, class: "sell-upload-drop-file" do |i| %>
                     <%= i.file_field :image %>
                    <!-- <input type="file" class="sell-upload-drop-file" multiple="" name="image" style="display: none;"> -->
                    <pre class="visible-pc">ドラッグアンドドロップまたはクリックしてファイルをアップロード</pre>
                    <i class="icon-camera"></i>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="sell-content">
                <div class="form-group">
                  <label><!-- react-text: 24 -->商品名  <!-- /react-text --><span class="form-require">必須</span></label>
                  <div>
                    <%= f.text_field :name, autofocus: true, class: "input-default", placeholder: "商品名（必須 40文字まで)" %>
                    <!-- <input class="input-default" value="" placeholder="商品名（必須 40文字まで)"> -->
                  </div><!-- react-empty: 28 -->
                </div>
                <div class="form-group">
                  <label><!-- react-text: 31 -->商品の説明<!-- /react-text --><!-- react-text: 32 --> <!-- /react-text --><span class="form-require">必須</span></label>
                  <%= f.text_field :text, autofocus: true, class: "textarea-default", placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。",rows: "5" %>
                  <!-- <textarea class="textarea-default" rows="5" placeholder="商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"></textarea> --><!-- react-empty: 35 -->
                </div>
              </div>
              <!-- <removed_queries> -->
              <div class="sell-content clearfix">
                <h3 class="sell-sub-head">販売価格(300〜9,999,999)</h3>
                <a href="/jp/help_center/article/64/" target="_blank" class="form-question">?</a>
                <div class="sell-form-box">
                  <ul class="sell-price">
                    <li class="form-group">
                      <div class="clearfix">
                        <label class="l-left"><!-- react-text: 97 -->価格<!-- /react-text --><span class="form-require">必須</span></label>
                        <div class="l-right sell-price-input"><!-- react-text: 100 -->¥<!-- /react-text -->
                          <div>
                            <%= f.text_field :price, autofocus: true, class: "input-default", placeholder: "例）300", value: "" %>
                            <!-- <input class="input-default" value="" placeholder="例）300"> -->
                          </div>
                        </div>
                      </div><!-- react-empty: 103 -->
                    </li>
                    <li class="clearfix">
                      <div class="l-left"><!-- react-text: 192 -->販売手数料 (10%)<!-- /react-text --></div>
                      <div class="l-right">-</div>
                    </li>
                    <li class="clearfix bold">
                      <div class="l-left">販売利益</div>
                      <div class="l-right">-</div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="modal" role="dialog" tabindex="-1">
                <div class="modal-inner">
                </div>
              </div>
              <div class="sell-content sell-btn-box">
                <div>
                  <p>
                    <a href="/jp/help_center/getting_started/prohibited_items/" target="_blank">禁止されている出品</a><!-- react-text: 116 -->、<!-- /react-text -->
                    <a href="/jp/help_center/getting_started/prohibited_conduct/" target="_blank">行為</a><!-- react-text: 118 -->
                    を必ずご確認ください。<!-- /react-text -->
                  </p>
                  <p><!-- react-text: 120 -->またブランド品でシリアルナンバー等がある場合はご記載ください。<!-- /react-text -->
                    <a href="/jp/help_center/getting_started/counterfeit_goods/" target="_blank">偽ブランドの販売</a><!-- react-text: 122 -->は犯罪であり処罰される可能性があります。<!-- /react-text -->
                  </p>
                  <p><!-- react-text: 124 -->また、出品をもちまして<!-- /react-text -->
                    <a href="/jp/seller_terms/">加盟店規約</a><!-- react-text: 126 -->に同意したことになります。<!-- /react-text -->
                  </p>
                </div>
                <button type="submit" class="btn-default btn-red"><!-- react-text: 128 -->出品する<!-- /react-text --></button>
                <a class="btn-default btn-gray">もどる</a><!-- react-empty: 130 -->
              </div>
            <% end %>
            <div class="overlay">
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <%= render "shared/single-footer" %>
</div>

