<%= render "shared/header" %>
<%= render "shared/head-banner" %>

  <section class="pickup-container">
    <h2></h2>
    <section class="items-box-container clearfix">
      <h3 class="text-center-search">
        検索結果一覧
      </h3>
      <div class="items-box-content items-appender clearfix">
        <% @items.each do |item| %>
          <%= render partial: "search", locals: { item: item } %>
        <% end %>
      </div>
    </section>
    <section class="items-box-container clearfix">
      <h3 class="text-center">
        <div> </div>
      </h3>
      <div class="items-box-content clearfix">
        
      </div>
    </section>
  </section>

  <%= render "shared/seller-button" %>
  <%= render "shared/footer" %>
