<!DOCTYPE html>
<html>
  <head>
    <meta charaset="UTF-8"><link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

    <title>Mercari</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
　　<div class="single-container">
      <header class="single-container__header">
        <h1 class="single-container__header__logo-position">
          <%= link_to "https://www.mercari.com/jp/" do %>
            <img src="//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?249128278" alt="mercari">
          <% end %>
        </h1>
       <nav class="single-container__header__progress-bar signup-bar">
          <ol class="progress-dots clearfix">
            <li class="progress-dots__a-dot through">
              会員情報
              <div class="progress-status" id="aa"></div>
            </li>
            <li class="progress-dots__a-dot through">
              電話番号認証
              <div class="progress-status" id="aa"></div>
            </li>
            <li class="progress-dots__a-dot through">
              住所入力
              <div class="progress-status" id="aa"></div>
            </li>
            <li class="progress-dots__a-dot active">
              支払い方法
              <div class="progress-status" ></div>
            </li>
            <li class="progress-dots__a-dot">
              完了
              <div class="progress-status-last"></div>
            </li>
          </ol>
        </nav>
      </header>

      <main class="single-main">
        <section class="l-single-container">
        <h2 class="l-chapter-head">支払い方法</h2>
          <form data-adyen-id="card-form" action="https://www.mercari.com/jp/mypage/card/add/" method="POST" id="add-card-form" class="l-single-inner" novalidate="novalidate">
            <input type="hidden" name="__csrf_value" value="">
            <div class="l-single-content">
              <div class="form-group">
                <label for="payment_card_no">カード番号</label>
                <span class="form-require">必須</span>
                <input type="text" value="" id="payment_card_no" placeholder="半角数字のみ" data-input-type="card" class="input-default" maxlength="19">
                <ul id="card-no-error-wrapper" class="has-error-text"></ul>

                <ul class="signup-card-list">
                  <li>
                    <img src="https://www-mercari-jp.akamaized.net/assets/img/card/visa.svg?2682216493" width="49" height="20" alt="">
                  </li>
                  <li>
                    <img src="https://www-mercari-jp.akamaized.net/assets/img/card/master-card.svg?2682216493" width="34" height="20" alt="">
                  </li>
                  <li>
                    <img src="https://www-mercari-jp.akamaized.net/assets/img/card/saison-card.svg?2682216493" width="30" height="20" alt="">
                  </li>
                  <li>
                    <img src="https://www-mercari-jp.akamaized.net/assets/img/card/jcb.svg?2682216493" width="32" height="20" alt="">
                  </li>
                  <li>
                    <img src="https://www-mercari-jp.akamaized.net/assets/img/card/dinersclub.svg?2682216493" width="32" height="20" alt="">
                  </li>
                  <li>
                    <img src="https://www-mercari-jp.akamaized.net/assets/img/card/discover.svg?2682216493" width="32" height="20" alt="">
                  </li>
                </ul>
              </div>

              <div class="form-group signup-form-expire">
                <label for="payment_card_expire">有効期限</label>
                <span class="form-require">必須</span>
                <br>
                  <div class="select-wrap">
                    <select id="payment_card_expire_mm" class="select-default">
                      <option value="01">01</option>
                      <option value="02">02</option>
                      <option value="03">03</option>
                      <option value="04">04</option>
                      <option value="05">05</option>
                      <option value="06">06</option>
                      <option value="07">07</option>
                      <option value="08">08</option>
                      <option value="09">09</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                    </select>
                  <i class="fas fa-angle-down"></i>
                </div>
                <span>月</span>
                <ul id="expire-mm-error-wrapper" class="has-error-text"></ul>
                  <div class="select-wrap">
                    <select id="payment_card_expire_yy" class="select-default">
                      <option value="18">18</option>
                      <option value="19">19</option>
                      <option value="20">20</option>
                      <option value="21">21</option>
                      <option value="22">22</option>
                      <option value="23">23</option>
                      <option value="24">24</option>
                      <option value="25">25</option>
                      <option value="26">26</option>
                      <option value="27">27</option>
                      <option value="28">28</option>
                    </select>
                    <i class="fas fa-angle-down"></i>
                  </div>
                <span>年</span>
                <ul id="expire-yy-error-wrapper" class="has-error-text"></ul>
              </div>

              <div class="form-group">
                <label for="payment_card_security_code">セキュリティコード</label>
                <span class="form-require">必須</span>
                <input type="number" value="" id="payment_card_security_code" placeholder="カード背面4桁もしくは3桁の番号" class="input-default">
                <ul id="security-code-error-wrapper" class="has-error-text"></ul>
                <div class="signup-seqcode">
                  <div class="signup-seqcode-text" data-js="show-tips-toggle">
                    <span class="form-question">?</span>カード裏面の番号とは？
                  </div>
                  <div class="signup-seqcode-info" data-js="show-tips-content">
                    カードの裏面をご参照ください。
                    <br>
                    <img src="https://www-mercari-jp.akamaized.net/assets/img/signup/seq-card.png?2682216493" alt="" width="240">
                  </div>
                </div>
              </div>
              <input type="hidden" id="user_id" name="user_id" value="244666991">
              <input type="hidden" id="encrypted_card_data" name="encrypted_card_data">
              <p id="primary-error" class="has-error-text"></p>
                      <!-- <input type="hidden" value="" name="after_save_callback">
            <button type="button" id="submit-button" class="btn-default btn-red">次へ</button> -->
　            <a href="/tests/account_completion/"  class="btn-default btn-red">次へ</a>

           </div>
           <script type="text/javascript" async="" src="https://www.google-analytics.com/plugins/ua/ec.js"></script><script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script type="text/javascript" async="" src="//www.googleadservices.com/pagead/conversion_async.js"></script><script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-KLPT5L5"></script><script src="https://p01.mul-pay.jp/ext/js/token.js" async=""></script>
           <script src="//www-mercari-jp.akamaized.net/assets/js/get_gmopg_card_token.js?710670344" async=""></script>
           <script src="https://googleads.g.doubleclick.net/pagead/viewthroughconversion/880621981/?random=1538381418787&amp;cv=9&amp;fst=1538381418787&amp;num=1&amp;guid=ON&amp;resp=GooglemKTybQhCsO&amp;u_h=900&amp;u_w=1440&amp;u_ah=900&amp;u_aw=1440&amp;u_cd=24&amp;u_his=30&amp;u_tz=540&amp;u_java=false&amp;u_nplug=3&amp;u_nmime=4&amp;gtm=G9o&amp;sendb=1&amp;frm=0&amp;url=https%3A%2F%2Fwww.mercari.com%2Fjp%2Fmypage%2Fcard%2Fcreate%2F&amp;ref=https%3A%2F%2Fwww.mercari.com%2Fjp%2Freauthenticate%2F&amp;tiba=%E3%82%AF%E3%83%AC%E3%82%B8%E3%83%83%E3%83%88%E3%82%AB%E3%83%BC%E3%83%89%E6%83%85%E5%A0%B1%E5%85%A5%E5%8A%9B%20-%20%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%20%E3%82%B9%E3%83%9E%E3%83%9B%E3%81%A7%E3%81%8B%E3%82%93%E3%81%9F%E3%82%93%20%E3%83%95%E3%83%AA%E3%83%9E&amp;async=1&amp;rfmt=3&amp;fmt=4"></script>
         </form>
       </section>
　　　</div>
　　　<footer class="single-footer">
        <nav>
          <ul class="single-footer__lists clearfix">
            <li class="single-footer__lists__a-list">
              <%=link_to 'プライバシーポリシー',  "https://www.mercari.com/jp/privacy/", class: "link-style" %>
            </li>
            <li class="single-footer__lists__a-list">
              <%=link_to 'メルカリ利用規約', "https://www.mercari.com/jp/tos/", class: "link-style"  %>
            </li>
            <li class="single-footer__lists__a-list">
              <%= link_to '特定商取引に関する表記', "https://www.mercari.com/jp/tokutei/", class: "link-style" %>
            </li>
          </ul>
        </nav>
        <%= link_to "https://www.mercari.com/jp/", class: "single-footer-logo" do %>
          <img src="//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?249128278" alt="mercari" width="80" height="65">
        <% end %>
        <p>
          <small>© 2018 Mercari</small>
        </p>
      </footer>
    </div>
  </body>
</html>
